.input-form{
    background-color: rgb(163, 163, 163);
    text-align: center;
    width: 30rem;
    margin-left: 25rem;
}


.submit >button{
    background-color: rgb(254, 212, 0);
    font-size: 1.4rem;
    border: 0px solid white;
}

.submit >button:hover{
    background-color: white;
}

