.all-members{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
   
}

.all-members >div{
    width: 20rem;
    height: 20rem;
    text-align: center;
    overflow: hidden;
}


.all-members >div .round{
    height: 10rem;
    width: 10rem;
    background-color: blue;
    border-radius: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
   
}

.all-members >div .round >img{
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
}